<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <!--
<%= form_for @user do |f|%>
     <%= f.label :username%><br>
    <%= f.text_field :username%><br>
    <%= f.label :email %><br>
    <%= f.email_field :email%><br>
    <%= f.label :password %><br>
    <%= f.password_field :password%> <br>
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation%> <br>
    <%= f.submit %>
<%end%>
-->

<%# RAILS FORM FOR WITH ERRORS %>

<%= form_for @user do |f|%>
    <ul>
        <% @user.errors.full_messages.each do |error|%>
            <li><%= error%></li>
        <% end %>
    </ul>
    
    <%= f.label :username %><br>
    <%= f.text_field :username%><br>

    <%= f.label :email %><br>
    <%= f.email_field :email%><br>

    <%= f.label :password %><br>
    <%= f.password_field :password%> <br>

     <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation%> <br>
    
    <%= f.submit %><br>
<%end%>

  <div class="container">
  <p>
  <hr class="my-4">
  <button type="button" class="btn btn-dark"> <a href="/users">Users</a></button> 
  </p>
  </div>
  </div>
</div>



